<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  ctxPath = /*[[@{/}]]*/ '';
  /*]]>*/
</script>
<head>
  <meta charset="UTF-8">
  <title>算法服务平台</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/easyui.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/icon.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">
</head>
<body>

<div id="toolbar" style="height:auto">
  <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
     onclick="addModel()">添加</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
     onclick="delModel()">删除</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true"
     onclick="reboot()">重启</a>
</div>

<table id="datagrid" class="easyui-datagrid" title="模型列表" style="width:100%;height:auto"
       data-options="
				toolbar: '#toolbar',
				url: ctxPath + '/web/getAllModelList',
				method: 'get',
				selectOnCheck: true,
				checkOnSelect: true
			">
  <thead>
  <tr>
    <th data-options="field:'ck', checkbox:true"></th>
    <th data-options="field:'id', hidden:true">编号</th>
    <th data-options="field:'name', width:200">模型名称</th>
    <th data-options="field:'desc', width:200">模型描述</th>
    <th data-options="field:'md5', width:300">模型MD5</th>
    <th data-options="field:'typeName', width:200">模型类型</th>
    <th data-options="field:'paramName', width:200">模型参数</th>
    <th data-options="field:'formatOper',width:200,align:'center',formatter:formatOper">操作</th>
  </tr>
  </thead>
</table>

<!--添加模型的对话框-->
<div id="addModelDlg" class="easyui-dialog" title="添加模型"
     data-options="iconCls:'icon-save',modal:true,closed:true"
     style="width:400px;">
  <form id="addModelForm" th:action="@{/web/addModel}" method="post" enctype="multipart/form-data">
    <table cellpadding="5">
      <tr>
        <td>模型名称:</td>
        <td><input class="easyui-textbox" type="text" name="name" data-options="required:true"></td>
      </tr>
      <tr>
        <td>模型描述:</td>
        <td><input class="easyui-textbox" type="text" name="desc"></td>
      </tr>
      <tr>
        <td>模型类型:</td>
        <td><select id="addModelFormModelType" class="easyui-combobox" name="type" style="width:200px;"
                    data-options="
                        url:ctxPath+'/web/getModelTypeList',
								        method:'get',
                        valueField:'code',
                        textField:'desc',
                        panelHeight:'auto',
                        onSelect: function (rec) {
                          console.debug(rec);
                          $('#addModelFormModelParam').combobox({
                            url:ctxPath+'/web/getModelParamList?typeCode=' + rec.code,
                            method:'get',
                            valueField:'code',
                            textField:'desc',
                            panelHeight:'auto'
                          });

                          // 如果是组合的模型，需要将上传模型文件修改为选择已有的模型
                          if (rec.code == 3) {
                            $('#addModelFormModelFileTr').hide();
                            $('#addModelFormModelComposeTr').show();
                          }
                        }
                    "/></td>
      </tr>
      <tr>
        <td>模型参数:</td>
        <td><select id="addModelFormModelParam" class="easyui-combobox" name="param" style="width:200px;"/></td>
      </tr>
      <tr id="addModelFormModelFileTr">
        <td>模型文件:</td>
        <td><input class="easyui-filebox" name="file" data-options="prompt:'请选择一个文件'" style="width:100%"></td>
      </tr>
      <tr id="addModelFormModelComposeTr" style="display: none">
        <td>模型组合:</td>
        <td><input class="easyui-textbox" type="text" name="compose" data-options="prompt:'ap-bilstm,reranking'"></td>
      </tr>
    </table>
  </form>
  <div style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="
      $.messager.progress({
            title: '提示',
            msg: '添加模型中',
            text: '请耐心等待...',
            interval: '1000'
      });
      $('#addModelForm').form('submit',{
        success: function(data){
          $.messager.progress('close');
          var json = JSON.parse(data);
          console.debug(json);
          if (json.code == 0) {
            $.messager.show({
              title: '添加模型成功',
              msg: json.data.name + '已经添加成功，MD5值为' + json.data.md5,
              timeout: 5000,
              showType: 'slide'
            });
            $('#addModelDlg').dialog('close');
            $('#datagrid').datagrid('reload');
            $('#datagrid').datagrid('clearSelections');
          } else {
            $('#addModelDlg').dialog('close');
            $.messager.alert({
              title: '添加模型失败',
              msg: json.msg,
              timeout: 5000,
              showType: 'slide'
            })
          }
        }
    });">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#addModelForm').form('clear');">重置</a>
  </div>
</div>

<!--修改模型的对话框-->
<div id="modifyModelDlg" class="easyui-dialog" title="修改模型"
     data-options="iconCls:'icon-save',modal:true,closed:true"
     style="width:400px;">
  <form id="modifyModelForm" th:action="@{/web/modifyModel}" method="post" enctype="multipart/form-data">
    <table cellpadding="5">
      <tr style="display: none">
        <td>模型ID:</td>
        <td><input id="modifyModelFormModelId" class="easyui-textbox" type="text" name="id"
                   data-options="required:true"></td>
      </tr>
      <tr>
        <td>模型名称:</td>
        <td><input id="modifyModelFormModelName" class="easyui-textbox" type="text" name="name"
                   data-options="required:true, readonly:true"></td>
      </tr>
      <tr>
        <td>模型描述:</td>
        <td><input id="modifyModelFormModelDesc" class="easyui-textbox" type="text" name="desc"></td>
      </tr>
      <tr>
        <td>模型类型:</td>
        <td><select id="modifyModelFormModelType" class="easyui-combobox" name="type" style="width:200px;"
                    data-options="
                        url:ctxPath+'/web/getModelTypeList',
								        method:'get',
                        valueField:'code',
                        textField:'desc',
                        panelHeight:'auto',
                        onSelect: function (rec) {
                          console.debug(rec);
                          $('#modifyModelFormModelParam').combobox({
                            url:ctxPath+'/web/getModelParamList?typeCode=' + rec.code,
                            method:'get',
                            valueField:'code',
                            textField:'desc',
                            panelHeight:'auto'
                          });

                          // 如果是组合的模型，需要将上传模型文件修改为选择已有的模型
                          if (rec.code == 3) {
                            $('#modifyModelFormModelFileTr').hide();
                            $('#modifyModelFormModelComposeTr').show();
                          }
                        }
                    "/></td>
      </tr>
      <tr>
        <td>模型参数:</td>
        <td><select id="modifyModelFormModelParam" class="easyui-combobox" name="param" style="width:200px;"/></td>
      </tr>
      <tr id="modifyModelFormModelFileTr">
        <td>模型文件:</td>
        <td><input class="easyui-filebox" name="file" data-options="prompt:'请选择一个文件'" style="width:100%"></td>
      </tr>
      <tr id="modifyModelFormModelComposeTr" style="display: none">
        <td>模型组合:</td>
        <td><input id="modifyModelFormModelCompose" class="easyui-textbox" type="text" name="compose"
                   data-options="prompt:'ap-bilstm,reranking'"></td>
      </tr>
    </table>
  </form>
  <div style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="
      $.messager.progress({
            title: '提示',
            msg: '修改模型中',
            text: '请耐心等待...',
            interval: '1000'
      });
      $('#modifyModelForm').form('submit',{
        success: function(data){
          $.messager.progress('close');
          var json = JSON.parse(data);
          console.debug(json);
          if (json.code == 0) {
            $.messager.show({
              title: '修改模型成功',
              msg: json.data.name + '已经修改成功，MD5值为' + json.data.md5,
              timeout: 5000,
              showType: 'slide'
            });
            $('#modifyModelDlg').dialog('close');
            $('#datagrid').datagrid('reload');
            $('#datagrid').datagrid('clearSelections');
          } else {
            $('#modifyModelDlg').dialog('close');
            $.messager.alert({
              title: '修改模型失败',
              msg: json.msg,
              timeout: 5000,
              showType: 'slide'
            })
          }
        }
    });">确定</a>
  </div>
</div>

<!--测试的对话框-->
<div id="testDlg" class="easyui-dialog" title="测试对话框"
     data-options="iconCls:'icon-save',modal:true,closed:true"
     style="width:800px;height:600px;padding:10px">
  <input id="testModelName" type="text" style="display: none" name="modelName">
  <table cellpadding="5">
    <tr>
      <td>测试文本:</td>
      <td><input id="testRaw" class="easyui-textbox" name="raw"
                 style="width:600px"></td>
      <td><a href="#" class="easyui-linkbutton" onclick="test()">测试</a></td>
    </tr>
    <tr id="trRawQuestion" style="display: none">
      <td>原始问题:</td>
      <td><input id="testRawQuestion" class="easyui-textbox" name="raw"
                 style="width:600px"></td>
    </tr>
    <tr>
      <td>预测结果:</td>
      <td><input id="testPredictString" class="easyui-textbox" type="text" name="predictString"
                 data-options="readonly:true,multiline:true" style="width: 600px;height:200px"></td>
    </tr>
    <tr id="trPredictId" style="display: none">
      <td>预测ID:</td>
      <td><input id="testPredictId" class="easyui-textbox" type="text" name="predictId"
                 data-options="readonly:true" style="width: 600px"></td>
    </tr>
    <tr id="trPredictNodeCode" style="display: none">
      <td>预测节点:</td>
      <td><input id="testPredictNodeCode" class="easyui-textbox" type="text" name="predictNodeCode"
                 data-options="readonly:true" style="width: 600px"></td>
    </tr>
    <tr id="trPredict">
      <td>预测类别:</td>
      <td><input id="testPredict" class="easyui-textbox" type="text" name="predict" data-options="readonly:true"
                 style="width: 600px"></td>
    </tr>
    <tr>
      <td>置信度:</td>
      <td><input id="testProbability" class="easyui-textbox" type="text" name="probability"
                 data-options="readonly:true" style="width: 600px"></td>
    </tr>
    <tr id="trPredictList" style="display: none">
      <td>预测列表</td>
      <!--<td><input id="testPredictList" class="easyui-textbox" type="text" name="predictList"-->
      <!--data-options="multiline:true" style="width: 600px; height: 400px"></td>-->
      <td>
        <table id="testPredictList" class="easyui-datagrid" style="width: 600px; height: 400px"
               data-options="nowrap: false">
          <thead>
          <tr>
            <th data-options="field:'probs',width:100">置信度</th>
            <th data-options="field:'hdid',width:100">ID</th>
            <th data-options="field:'voice_number',width:90">ASR编号</th>
            <th data-options="field:'a',width:300">回答</th>
          </tr>
          </thead>
        </table>
      </td>
    </tr>
    <tr>
      <td>显示更多</td>
      <td>
        <input id="btnShowMore" class="easyui-switchbutton" label="显示更多:"
               data-options="onText:'是',offText:'否'" labelWidth="120" tabindex="1">
      </td>
    </tr>
    <tr id="trPreCostMs" style="display: none">
      <td>前置耗时:</td>
      <td><input id="testPreCostMs" class="easyui-textbox" type="text" name="preCostMs"
                 data-options="readonly:true" style="width: 600px"></td>
    </tr>
    <tr id="trPredictCostMs" style="display: none">
      <td>预测耗时:</td>
      <td><input id="testPredictCostMs" class="easyui-textbox" type="text" name="predictCostMs"
                 data-options="readonly:true" style="width: 600px"></td>
    </tr>
    <tr id="trPostCostMs" style="display: none">
      <td>后置耗时:</td>
      <td><input id="testPostCostMs" class="easyui-textbox" type="text" name="postCostMs"
                 data-options="readonly:true" style="width: 600px"></td>
    </tr>
    <tr id="trWord" style="display: none">
      <td>参数结果:</td>
      <td><input id="testWord" class="easyui-textbox" type="text" name="word"
                 data-options="multiline:true,readonly:true" style="height:160px; width:600px"></td>
    </tr>
  </table>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
<script type="text/javascript">

  function addModel() {
    $('#addModelForm').form('clear');
    $('#addModelDlg').dialog('open');
  }

  function modifyModel(a) {
    var id = a.attr('rowId');
    $('#modifyModelFormModelId').textbox('setValue', id);
    $.ajax({
      url: ctxPath + '/web/getModel?id=' + id,
      method: 'GET',
      dataType: 'json',
      success: function (json) {
        console.debug(json);
        if (json.code === 0) {
          $('#modifyModelFormModelName').textbox('setValue', json.data.name);
          $('#modifyModelFormModelDesc').textbox('setValue', json.data.desc);
          $('#modifyModelFormModelType').combobox('setValue', json.data.type);
          $('#modifyModelFormModelParam').combobox('setValue', json.data.param);
          $('#modifyModelFormModelCompose').textbox('setValue', json.data.compose);
        } else {
          $.messager.alert({
            title: '获取模型失败',
            msg: json.msg,
            timeout: 5000,
            showType: 'slide'
          });
        }
      }
    });
    $('#modifyModelDlg').dialog('open');
  }

  function delModel() {
    $.messager.confirm('警告', '确定删除吗？', function (r) {
      if (r) {
        $.messager.progress({
          title: '提示',
          msg: '删除模型中',
          text: '请耐心等待...',
          interval: '1000',
        });
        var ids = [];
        var rows = $('#datagrid').datagrid('getSelections');
        for (var i = 0; i < rows.length; i++) {
          ids.push(rows[i].id);
        }
        $.ajax({
          url: ctxPath + '/web/delModel',
          data: {
            ids: ids.join(',')
          },
          method: 'POST',
          dataType: 'json',
          success: function (json) {
            $.messager.progress('close');
            console.debug(json);
            if (json.code === 0) {
              $.messager.show({
                title: '删除模型成功',
                msg: '删除模型成功',
                timeout: 5000,
                showType: 'slide'
              });
              $('#datagrid').datagrid('reload');
              $('#datagrid').datagrid('clearSelections');
            } else {
              $.messager.alert({
                title: '删除模型失败',
                msg: json.msg,
                timeout: 5000,
                showType: 'slide'
              });
            }
          }
        });
      }
    });
  }

  function test() {
    console.debug('test');
    var modelName = $('#testModelName').val();
    var raw = $('#testRaw').textbox('getValue');
    $.messager.progress({
      title: '提示',
      msg: '等待测试结果返回',
      text: '请等待...',
      interval: '1000'
    });
    $.post({
      url: ctxPath + '/' + modelName + '/predict',
      contentType: "application/json",
      data: raw,
      dataType: 'json',
      success: function (json) {
        if (json.code === 0) {
          $('#testWord').textbox('setValue', JSON.stringify(json.data.params));
          $('#testPredictString').textbox('setValue', json.data.predictString);
          $('#testProbability').textbox('setValue', json.data.probability);

          if (json.data.rawQuestion != undefined && json.data.rawQuestion != null) {
            $('#testRawQuestion').textbox('setValue', json.data.rawQuestion);
            $('#trRawQuestion').show();
          } else {
            $('#trRawQuestion').hide();
          }
          if (json.data.predict != undefined && json.data.predict != null) {
            $('#testPredict').textbox('setValue', json.data.predict);
            $('#trPredict').show();
          } else {
            $('#trPredict').hide();
          }
          if (json.data.predictId != undefined && json.data.predictId != null) {
            $('#testPredictId').textbox('setValue', json.data.predictId);
            $('#trPredictId').show();
          } else {
            $('#trPredictId').hide();
          }
          if (json.data.predictNodeCode != undefined && json.data.predictNodeCode != null) {
            $('#testPredictNodeCode').textbox('setValue', json.data.predictNodeCode);
            $('#trPredictNodeCode').show();
          } else {
            $('#trPredictNodeCode').hide();
          }
          if (json.data.predictList != undefined && json.data.predictList != null) {
            var len = json.data.predictList.length > 5 ? 5 : json.data.predictList.length;

            // 要先将datagrid显示出来，再加数据才能看到数据
            $('#trPredictList').css('display', '');

            // 首先删除原有的数据
            var rows = $('#testPredictList').datagrid('getRows');
            for (var i = 0; i < rows.length; i++) {
              $('#testPredictList').datagrid('deleteRow', 0);
            }

            for (var i = 0; i < len; i++) {
              var p = json.data.predictList[i];
              var row = {
                probs: p.probs,
                hdid: p.hdid,
                voice_number: p.voice_number,
                a: p.a
              };
              $('#testPredictList').datagrid('insertRow', {
                index: i,
                row: row
              });
            }
          } else {
            $('#trPredictList').css('display', 'none');
          }
          $('#testPreCostMs').textbox('setValue', json.data.preCostMs);
          $('#testPostCostMs').textbox('setValue', json.data.postCostMs);
          $('#testPredictCostMs').textbox('setValue', json.data.predictCostMs);
        } else {
          $.messager.alert({
            title: '预测模型失败',
            msg: json.msg,
            timeout: 5000,
            showType: 'slide'
          });
        }
        $.messager.progress('close');
      }
    });
  }

  function testModel(a) {
    var id = a.attr('rowId');
    $.ajax({
      url: ctxPath + '/web/getModel?id=' + id,
      method: 'GET',
      dataType: 'json',
      success: function (json) {
        console.debug(json);
        if (json.code === 0) {
          $('#testModelName').val(json.data.name);
          $('#testDlg').dialog('open');
        } else {
          $.messager.alert({
            title: '获取模型失败',
            msg: json.msg,
            timeout: 5000,
            showType: 'slide'
          });
        }
      }
    });
  }

  function downloadModel(a) {
    var id = a.attr('rowId');
    var url = ctxPath + "/web/downloadModel?id=" + id;
    window.location.href = url;
  }

  function restartModel(a) {
    $.messager.confirm('警告', '确定重启吗？', function (r) {
      if (r) {
        $.messager.progress({
          title: '提示',
          msg: '重启docker',
          text: '请等待...',
          interval: '1000',
        });
        var id = a.attr('rowId');
        $.ajax({
          url: ctxPath + '/web/restartModel',
          method: 'POST',
          data: {
            id: id
          },
          dataType: 'json',
          success: function (json) {
            $.messager.progress('close');
            console.debug(json);
            if (json.code === 0) {
              $.messager.show({
                title: '消息',
                msg: 'docker重启成功',
                timeout: 5000,
                showType: 'slide'
              });
            } else {
              $.messager.alert({
                title: 'docker重启失败',
                msg: json.msg,
                timeout: 5000,
                showType: 'slide'
              });
            }
          }
        });
      }
    });
  }

  function formatOper(val, row, index) {
    if (row.id) {
      // console.debug('val=' + val + ' row=' + JSON.stringify(row) + ' index=' + index + ' id=' + row.id);
      return '&nbsp;<a href="#" rowId="' + row.id + '" index="' + index + '" onclick="modifyModel($(this))">修改</a>&nbsp;'
        + '&nbsp;<a href="#" rowId="' + row.id + '" index="' + index + '" onclick="testModel($(this))">测试</a>&nbsp;'
        + '&nbsp;<a href="#" rowId="' + row.id + '" index="' + index + '" onclick="downloadModel($(this))">下载</a>&nbsp;'
        + '&nbsp;<a href="#" rowId="' + row.id + '" index="' + index + '" onclick="restartModel($(this))">重启</a>&nbsp;';
    } else {
      return '';
    }
  }

  function reboot() {
    $.messager.confirm('警告', '确定重启吗？', function (r) {
      if (r) {
        $.messager.progress({
          title: '提示',
          msg: '重启docker',
          text: '请等待...',
          interval: '1000',
        });
        $.post({
          url: ctxPath + '/web/reboot',
          dataType: 'json',
          success: function (data) {
            console.debug(data);
            $.messager.progress('close');
            $('#datagrid').datagrid('reload');
            $.messager.show({
              title: '消息',
              msg: 'docker重启成功',
              timeout: 5000,
              showType: 'slide'
            });
          }
        })
      }
    });
  }

  $(function () {
    $.messager.progress({
      title: '提示',
      msg: '服务启动中',
      text: '请等待...',
      interval: '1000',
    });
    $.get({
      url: ctxPath + '/web/waitForStarted',
      success: function (e) {
        $.messager.progress('close');
      }
    });

    $('#btnShowMore').switchbutton({
      checked: false,
      onChange: function (checked) {
        if (checked == true) {
          $('#trPreCostMs').show();
          $('#trPredictCostMs').show();
          $('#trPostCostMs').show();
          $('#trWord').show();
        }
        else if (checked == false) {
          $('#trPreCostMs').hide();
          $('#trPredictCostMs').hide();
          $('#trPostCostMs').hide();
          $('#trWord').hide();
        }
      }
    })
  });
</script>
</body>
</html>